@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Sacramento&family=Poiret+One&display=swap");

* {
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-user-select: none;
  font-size: 16px;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

#notice {
  flex: 1 1 40%;
  background-color: $notice-bg;
  height: 100vh;
  position: relative;
  .contentNotice {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 70%;
    text-align: center;
    background-image: $content-bg;
    h1 {
      color: $h1-header;
      font-family: "Chelsea Market", cursive;
      font-size: 4em;
      margin: 0px 0px 20px 0px;
      text-transform: lowercase;
    }
    p {
      color: $p-color;
      margin-bottom: 20px;
      font-size: 1.5em;
      font-family: "Poiret One", cursive;
    }
    img {
      margin-bottom: 20px;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
    &:link {
      color: red;
    }
    &:hover {
      color: #fff;
    }
  }
}

#hourglass {
  flex: 3 1 60%;
  .contentHour {
    position: relative;
    top: 40%;
    left: 0;
    right: 0;
    width: 25%;
  }
}

#bottom {
  position: absolute;
  top: 125px;
  left: 50px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 125px solid $bottom;
  animation: flipbottom 5s infinite ease-in-out;
  transform-origin: 75px 0px;
  border-radius: 0rem;
}

#bottom_two {
  position: absolute;
  top: 125px;
  left: 50px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 125px solid $top;
  animation: flipbottom 5s infinite ease-in-out;
  transform-origin: 75px 0px;
  animation-delay: 0.8s;
  border-radius: 0.2rem;
}

@keyframes flipbottom {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(190deg) translate(-2px, 2px);
  }
  20% {
    transform: rotate(172deg);
  }
  25% {
    transform: rotate(184deg);
  }
  30% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(370deg) translate(-1px, 1px);
  }
  70% {
    transform: rotate(352deg);
  }
  75% {
    transform: rotate(364deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
